{
    "arrowParens": "always",
    "endOfLine": "lf",
    "bracketSameLine": true,
    "tabWidth": 4,
    "parser": "typescript",
    "printWidth": 100,
    "singleQuote": true,
    "bracketSpacing": true,
    "trailingComma": "all"
}
